
<div class="row text-center" id="cta" >
    <div class="col-md-4">
      <a class="btn btn-lg btn-cta" href="{{ CDL_URL_BASE }}#apropos">
      <span class="glyphicon glyphicon-question-sign"></span>
      Qu'est-ce que c'est ?
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-cta" href="{{ CDL_URL_BASE }}/programme.html">
        <span class="glyphicon glyphicon-bullhorn"></span>
        Conférences & Ateliers
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-cta" href="{{ CDL_URL_BASE }}#sponsoring">
      <span class="glyphicon glyphicon-star"></span>
      Devenez sponsor</a>
    </div>
</div>
