
<div class="row">
  <div class="col-xs-6 col-sm-2">
      <h3>Organisation</h3>
      <a href="http://toulibre.org/" class="thumbnail" target="_blank">
      <img src="{{ CDL_URL_BASE }}/images/logo-toulibre.svg" alt="Toulibre" class="logo-150px" title="Toulibre"></a>
  </div>
  <div class="col-xs-6 col-sm-2">
      <h3>Institutionnels</h3>
      <a href="http://enseeiht.fr/" class="thumbnail" target="_blank">
          <img src="{{ CDL_URL_BASE }}/images/inpn7logo.svg" alt="ENSEEIHT" class="logo-150px" title="ENSEEIHT">
      </a>
      <a href="http://www.frenchtechtoulouse.com" class="thumbnail" target="_blank">
          <img src="{{ CDL_URL_BASE }}/images/logo-COULEURS-FrenchTechToulouse.png" alt="French Tech Toulouse" class="logo-150px" title="French Tech Toulouse">
      </a>
      <a href="http://www.toulouse.fr" class="thumbnail" target="_blank">
          <img src="{{ CDL_URL_BASE }}/images/Logo_mairie_de_Toulouse.svg" alt="Toulouse" class="logo-150px" title="Mairie de Toulouse">
      </a>
  </div>
  <div class="col-xs-6 col-sm-2">
      <h3>Communication</h3>
      <div class="row">
      <div class="col-xs-12">
      <a href="http://www.editions-diamond.fr/" class="thumbnail" target="_blank">
          <img src="{{ CDL_URL_BASE }}/images/logo-edition-diamonds.png" alt="Éditions Diamonds" class="logo-100px" title="Éditions Diamonds">
      </a>
      <a href="http://www.developpez.com" class="thumbnail" target="_blank">
          <img src="{{ CDL_URL_BASE }}/images/logo-developpez.com.png" alt="Développez.com" class="logo-100px" title="Développez.com">
      </a>
      </div>
      </div>
  </div>
  </div>

  <div class="row">
  <div class="col-xs-12 col-sm-12">
      <h3>Partenaires Platine</h3>
      <a href="http://www.c-s.fr/" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/logo_cs_fond_transparent.png" alt="CS" class="logo-200px" title="CS">
      </a>
      &nbsp;
  </div>
  </div>



  <div class="row">
  <div class="col-xs-12 col-sm-12">
      <h3>Partenaires Or</h3>
      <a href="https://www.fullsave.com/" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/fullsave-logo-web.svg" alt="FullSave" class="logo-150px" title="FullSave">
      </a>
      &nbsp;
      <a href="https://www.kdab.com/" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/kdab.png" alt="KDAB" class="logo-150px" title="KDAB">
      </a>
      &nbsp;
      <a href="https://www.logilab.fr/" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/logo-logilab.svg" alt="Logilab" class="logo-150px" title="Logilab">
      </a>
      &nbsp;
      <a href="http://makina-corpus.com/" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/makina-corpus.png" alt="Makina Corpus" class="logo-150px" title="Makina Corpus">
      </a>
      &nbsp;
      <a href="http://www.groupe-sii.com" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/SII_logo.jpg" alt="SII" class="logo-150px" title="SII">
      </a>
      &nbsp;
      <a href="https://openwide.fr/" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/logo-openwide.jpg" alt="Open Wide" class="logo-200px" title="Open Wide">
      </a>
  </div>
  </div>

  <div class="row">
  <div class="col-xs-12 col-sm-12">
      <h3>Partenaires Bronze</h3>
      <p>
      <a href="https://bleemeo.com" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/bleemeo_logo.svg" alt="Bleemeo" class="logo-100px" title="Bleemeo">
      </a>
      &nbsp;
      <a href="https://www.bluemind.net/" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/Logo-bluemind.png" alt="Bluemind" class="logo-100px" title="Bluemind">
      </a>
      &nbsp;
      <a href="http://free-electrons.com" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/logo-free-electrons.jpg" alt="Free Electrons" class="logo-100px" title="Free Electrons">
      </a>
      &nbsp;
      <a href="https://www.lyra-network.com" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/Logo_LYRA-Network-FLAT-colors-originals.png" alt="Lyra Network" class="logo-100px" title="Lyra Network">
      </a>
      &nbsp;
      <a href="http://www.objectif-libre.com" target="_blank">
         <img src="{{ CDL_URL_BASE }}/images/objectif-libre-au-service-de-votre-cloud-long-fblanc.svg" alt="Objectif Libre" class="logo-100px" title="Objectif Libre">
      </a>
      </p>
  </div>
</div>
